<%= image_tag('logo.jpg')%>

<h1>Vacantes Disponibles</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>N&uacute;mero de vacante</th>
      <th>Ocupaci&oacute;n</th>
      <th>Proyecto</th>
      <th>Descripci&oacute;n</th>
      <th>Salario por Hora</th>
      <th>Horas Requeridas</th>
      <th>Disponibilidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vacancies.each do |vacancy| %>
      <tr>
        <td><%= vacancy.id %></td>
        <td><%= Occupation.find_by_id(vacancy.occupation_id).name %></td>
        <td><%= Project.find_by_id(vacancy.project_id).name %></td>
        <td><%= vacancy.description %></td>
        <td><%= vacancy.hourly_wage %></td>
        <td><%= vacancy.hours_required %></td>
        <td>
          <% if vacancy.availability_status == 1%>
            <% result = "Disponible" %>
          <% else %>
            <% result = "No Disponible"%>
          <% end %>
          <%= result %>
        </td>
        <td><%= link_to 'Mostrar', vacancy , class: "btn btn-info"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>